body {

    background-attachment: fixed;
    background-image: linear-gradient(90deg, black, black);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;

}

.add, .tasks {

    backdrop-filter: blur(12px);
    background-color: #ffffff25;
    border: none;
    border-radius: 25px;
    margin: 15px auto 15px auto;
    -webkit-backdrop-filter: blur(12px);
    width: 90vw;

}

.add {
    
    align-items: center;
    display: flex;
    height: 100px;

}

.add input, .add button {

    background-color: transparent;
    border: solid 1px #ffffff90;
    color: #ffffff90;
    font: 30px Arial;
    transition: all .1s ease-in-out;

}

.add input {

    height: 60px;
    margin-left: 40px;
    width: 360px;

}

.add button {

    height: auto;
    margin-left: 40px;
    padding: 15px 30px 15px 30px;
    width: auto;

}

.tasks {

    display: list-item;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

}

.tasks::-webkit-scrollbar {

    display: none;

}

.tasks > * {

    margin-bottom: 15px;
    margin-top: 15px;

}

.tasks h1 {

    color: #ffffff90;
    flex-direction: column;
    font: 20px Arial;
    margin-left: 55px;

}

.tasks hr {

    border-color: #ffffff90;
    margin-left: 40px;
    margin-right: 40px;

}

ul {

    color: #ffffff90;
    flex-direction: column;
    font: 20px Arial;
    list-style: none;

}

li button {

    background-color: transparent;
    border: solid 1px #ffffff90;
    height: 25px;
    width: 25px;

}

i {

    color: #ffffff90;

}
