.add {

    align-items: center;
    border: 1px solid gray;
    display: flex;
    height: 50px;
    margin: auto;
    width: 80vw;

}

.add button {

    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    font: 20px Georgia, serif;
    height: 40px;
    margin-left: 41px;

}